
<template name = "groupChoose" >
    
    <div class="form-group">
            <label for="group-avatar">Picture</label>
            <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; 
                        <input type="file" id="group-avatar" accept="image/gif, image/jpeg, image/png, image/jpg">
                    </span>
                </span>
                <input type="text" id="fn_output" class="form-control" readonly>
            </div>
        </div> 

</template>